#include "winver.h"

IDI_ICON1               ICON    "LabCompass.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION @PROJECT_VERSION_MAJOR@,@PROJECT_VERSION_MINOR@,@PROJECT_VERSION_PATCH@,0
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "FutureCode"
            VALUE "FileDescription", "An overlay aiming to improve the quality of life when running labyrinths in Path of Exile."
            VALUE "FileVersion", "1.0.0.0"
            VALUE "LegalCopyright", "GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007"
            VALUE "InternalName", "labcompass"
            VALUE "OriginalFilename", "labcompass.exe"
            VALUE "ProductName", "LabCompass"
            VALUE "ProductVersion", "@PROJECT_VERSION@"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
